<h1>First Aangular App</h1>
<h2>{{title}}</h2>
<p>{{1+1}}</p>

<img [src] =" imgURL " alt="">

<button disabled="{{isDisable}}">Disable Using String Interpolation</button>
<button [disabled]="isDisable">Disable Using Property Binding</button>

<!-- class binding -->

<button
[class.active] = "isActive"
[class.no-active]="!isActive"
[class.active-border]="isActive"
[class.no-active-border]="!isActive"
> click me </button>

<!-- style binding -->

<button [class.apple]="fruitName == 'Apple' " > Fruit Ninja </button>

<button [style.backgroundColor] = "isActive?'red' : 'green' "
[style.border] = "isActive? '3px solid yellow ' : '' "
>click</button>

<button [class.active] = "isActive" >Class Binding</button>

<!-- event binding -->
<button (mouseover)="buttonClick()">Click Me</button>

<input type="text" (keyup)="keyEnter($event)">

<input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userInput" >

<!-- two way data binding -->
 <input type="text" [value]="userName" #username (keyup.enter)="updateUserName(username)">

<input type="text" [(ngModel)]="userName"  >

<h3>{{userName}}</h3>

<!--  one way and two way data binding -->
  <input type="text" [value] ='textValue' (keyup.enter) ="onKeyup()" >
  <br>
  <input type="text" [(ngModel)]='textValue' (keyup.enter) ="onKeyup()" >

<!-- old way -->
  <h2 *ngIf="isLonggedIn; else message" >{{userName1}}</h2>

  <h4 *ngIf="!isLonggedIn">User is not logged in </h4>

  <ng-template #message>
    <h4>User is not logged in (loaded using ng-template )</h4>
  </ng-template>


<!-- new way -->
  @if(isLonggedIn){
    <h3>{{userName1}}</h3>
  }@else{
    <h4>User is not logged in (loaded using else syntax block)</h4>
  }

  @if (!isLonggedIn) {
    <h4>User is not logged in (loaded using if syntax block)</h4>
  }

 <!-- Multiple Conditions -->

 <h4 *ngIf="isAdmin">Welcome Admin</h4>
 <h4 *ngIf="isMember">Welcome Member</h4>
 <h4 *ngIf="isGuest">Welcome Guest</h4>

 <h4 *ngIf="isAdmin; else memberMessage">Welcome Admin</h4>
 <ng-template #memberMessage>
  <h4 *ngIf="isMember; else guestMessage">Welcome Member</h4>
 </ng-template>
 <ng-template #guestMessage>
  <h4 *ngIf="isGuest">Welcome Guest</h4>
 </ng-template>

 <!-- @if, @else Syntax Approach -->
  @if(isAdmin){
    <h4>Welcome Addmin</h4>
  }@else if (isMember) {
    <h4>Welcome Member</h4>
  }@else {
    <h4>Welcome Guest</h4>
  }

